.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum AIĂC ȘTIGAT
        .bonus__firstWin-title #[span 100 #[br] ROTIRI GRATUITE]
        .bonus__firstWin-try Mai ai o încercare
        .bonus__firstWin-btn Învârte din nou
    .bonus__secondWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum AIĂC ȘTIGAT
        .bonus__secondWin-title
          .wrap 100 PARIU FĂRĂ RISC #[span +] 100 ROTIRI GRATUITE
        .bonus__secondWin-try Înregistrează-te, vei găsi bonusul și rotirile gratuite în contul tău
        a(href="#").bonus__secondWin-btn.btn REVENDICĂ BONUSUL
  .bonus__main
    .bonus__main-logo
    .bonus__main-txt
      span.top ÎNVĂRTE ROATA
      span.bottom REVENDICĂ BONUSUL
    .bonus__main-wrapper
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrowMob-1.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-2.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-3.bonus__main-wheel-arrowMob
          .bonus__main-wheel-ellipse-one.position.pulse-btn
          .bonus__main-wheel-ellipse-two.position.pulse-btn
          .bonus__main-wheel-btn-bottom.position
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-reel.position
    .bonus__footer
      .bonus__footer-text L1200662W001197. #[br] Se aplică T&C
      .bonus__footer-copy
        img(src='img/footer-copy.svg' alt='copyright')

